MNEMONIC='jewel pattern cry forget gown better agent celery nothing glove silk ill'
# Mnemonic's first address: ydinxECoSdvGkCMZFhrqY4fg3Jc3AbeS2z
# WITHDRAWAL_ADDRESS is an Core chain address from Dash Core or another wallet
#  Credits withdrawn from Platform will be received as DASH in the address
WITHDRAWAL_ADDRESS='ydinxECoSdvGkCMZFhrqY4fg3Jc3AbeS2z'

# Core block height to begin syncing from
#  Allows syncing to complete faster than if syncing the entire chain from the first block
#  Set to a height below where your first wallet transaction occurred
#  See current height at: https://testnet-insight.dashevo.org/insight/
SYNC_START_HEIGHT=875000
# IDENTITY_ID comes from the "$id" found in the "identity-register.js" response
IDENTITY_ID='6cSbshXPYDA2CmBtD31X4uo7YLwtef4mVDt15zRok8Xg'
# CONTRACT_ID comes from the "$id" found in the "contract-register-minimal.js" response
CONTRACT_ID='4BRJbxsDTFY4GJGrCqM6KUjv1wSQDBuUYiGkuzgcrD5d'
# NETWORK sets which network to connect to: testnet, devnet, or local
NETWORK='testnet'
# RECIPIENT_ID sets an identity ID to receive a credit transfer
RECIPIENT_ID='6cSbshXPYDA2CmBtD31X4uo7YLwtef4mVDt15zRok8Xg'

# Private keys for IDENTITY_ID in WIF format
# You can create an identity using the Dash Evo Tool and copy these keys from there
# https://github.com/dashpay/dash-evo-tool
MASTER_KEY_WIF=''
CRITICAL_KEY_WIF=''
TRANSFER_KEY_WIF=''

# DOCUMENT_ID is the ID of a document (obtained from document-submit output)
# Used for document-update and document-delete tutorials
DOCUMENT_ID=''

# NAME_LABEL is an optional username label for name registration (without .dash)
# If not provided, tutorials will generate a unique 20+ character label automatically
NAME_LABEL=''

# NFT Variables
# NFT_CONTRACT_ID comes from contract-register-nft output
NFT_CONTRACT_ID=''
# NFT_OWNER_ID is the identity ID that owns the NFT documents
# This should typically be the same as IDENTITY_ID above
NFT_OWNER_ID=''
# NFT_DOCUMENT_ID comes from nft-create output
# Used for nft-set-price, nft-transfer, etc.
NFT_DOCUMENT_ID=''

# NFT Marketplace Variables
# NFT_PRICE is the listing price in credits for marketplace operations
# Note: 1000 credits = 1 satoshi equivalent
NFT_PRICE=1000
# NFT_DOCUMENT_ID is the document ID to purchase from the marketplace
# This should be a different document than NFT_DOCUMENT_ID (you can't buy your own NFT)
NFT_DOCUMENT_ID=''
# NFT_BUYER_ID is the identity ID of the buyer (different from NFT_OWNER_ID)
NFT_BUYER_ID=''
# NFT_BUYER_KEY_WIF is the CRITICAL_KEY_WIF for the buyer's identity
# Required for purchase operations (AUTHENTICATION purpose key, not TRANSFER key)
NFT_BUYER_KEY_WIF=''
